# Merging tables code

In [1]:
# import library
import pandas as pd

In [2]:
# load data csv

df = pd.read_csv('synonyms_results.csv')

In [3]:
# read data

df.head()

  Ingredient             Synonym
0     Orange       Acid orange 7
1     Orange            633-96-5
2     Orange           Orange II
3     Orange  C.I. Acid Orange 7
4     Orange       Acid Orange A

In [4]:
# load data excel

df2 = pd.read_excel('Separated_Ingredients.xlsx')

In [5]:
# read data

df2.head()

,IngredientIdentifier,Name,Description,CASCODE,ECHA_LINK,EntityId,CategoryId,Carcinogens,EndocrineDisruptors,Allergen,SkinIrritant,Id,CreatedBy,CreatedOn,LastModifiedBy,LastModifiedOn,IsActive,column3
0,G00001,Saccharomyces,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,1.0,system_user,2023-02-12 21:07:00.000 +0100,system_user,2023-02-12 21:07:00.000 +0100,1.0,NaN
1,G00001,Leuconostoc,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,1.0,system_user,2023-02-12 21:07:00.000 +0100,system_user,2023-02-12 21:07:00.000 +0100,1.0,NaN
2,G00001,Apple Fruit,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,1.0,system_user,2023-02-12 21:07:00.000 +0100,system_user,2023-02-12 21:07:00.000 +0100,1.0,NaN
3,G00001,Carrot Root,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,1.0,system_user,2023-02-12 21:07:00.000 +0100,system_user,2023-02-12 21:07:00.000 +0100,1.0,NaN
4,G00001,Radish Root,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,1.0,system_user,2023-02-12 21:07:00.000 +0100,system_user,2023-02-12 21:07:00.000 +0100,1.0,NaN

In [6]:
len(df['Ingredient'].unique())

2416

In [7]:
len(df2['Name'].unique())

14624

In [8]:
# Merge based on the common column 'Ingredient' in df and 'Name' in df2
merged_df = pd.merge(df, df2, left_on='Ingredient', right_on='Name', how='right')

# Select only the desired columns
selected_columns = ['Name','Carcinogens', 'EndocrineDisruptors', 'Allergen', 'SkinIrritant']
new_df2 = merged_df[list(df.columns) + selected_columns]

# Display the resulting DataFrame
new_df2

,Ingredient,Synonym,Name,Carcinogens,EndocrineDisruptors,Allergen,SkinIrritant
0,NaN,NaN,Saccharomyces,0.0,0.0,0.0,0.0
1,NaN,NaN,Leuconostoc,0.0,0.0,0.0,0.0
2,NaN,NaN,Apple Fruit,0.0,0.0,0.0,0.0
3,NaN,NaN,Carrot Root,0.0,0.0,0.0,0.0
4,NaN,NaN,Radish Root,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
203572,NaN,NaN,Lysine Carboxymethyl Cysteinate,0.0,0.0,0.0,0.0
203573,NaN,NaN,Lysine Thiazolidine Carboxylate,0.0,0.0,0.0,0.0
203574,NaN,NaN,Palmitoyl Myristyl Serinate,0.0,0.0,0.0,0.0
203575,NaN,NaN,Piperonyl Glucoside,0.0,0.0,0.0,0.0
203576,NaN,NaN,Stearyl Acetate,NaN,NaN,NaN,NaN

In [9]:
new_df2 = new_df2.drop('Ingredient', axis=1)

In [10]:
new_order = ['Name', 'Synonym'] + [col for col in new_df2.columns if col not in ['Name', 'Synonym']]
new_df2 = new_df2[new_order]

In [11]:
new_df2

,Name,Synonym,Carcinogens,EndocrineDisruptors,Allergen,SkinIrritant
0,Saccharomyces,NaN,0.0,0.0,0.0,0.0
1,Leuconostoc,NaN,0.0,0.0,0.0,0.0
2,Apple Fruit,NaN,0.0,0.0,0.0,0.0
3,Carrot Root,NaN,0.0,0.0,0.0,0.0
4,Radish Root,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
203572,Lysine Carboxymethyl Cysteinate,NaN,0.0,0.0,0.0,0.0
203573,Lysine Thiazolidine Carboxylate,NaN,0.0,0.0,0.0,0.0
203574,Palmitoyl Myristyl Serinate,NaN,0.0,0.0,0.0,0.0
203575,Piperonyl Glucoside,NaN,0.0,0.0,0.0,0.0
203576,Stearyl Acetate,NaN,NaN,NaN,NaN,NaN

In [12]:
new_df2['Synonym'].isna().value_counts()

Synonym
False    188815
True      14762
Name: count, dtype: int64

In [13]:
len(new_df2['Name'].unique())

14624

In [14]:
new_df2.columns

Index(['Name', 'Synonym', 'Carcinogens', 'EndocrineDisruptors', 'Allergen',
       'SkinIrritant'],
      dtype='object')

In [15]:
new_df2['Carcinogens'].unique()

array([ 0.,  1., nan])

In [16]:
carcinogens_counts = new_df2['Carcinogens'].value_counts()
carcinogens_counts

Carcinogens
0.0    199826
1.0      3750
Name: count, dtype: int64

In [17]:
endocrine_disruptors_counts = new_df2['EndocrineDisruptors'].value_counts()
endocrine_disruptors_counts

EndocrineDisruptors
0.0    202042
1.0      1534
Name: count, dtype: int64

In [18]:
allergen_counts = new_df2['Allergen'].value_counts()
allergen_counts

Allergen
0.0    201665
1.0      1911
Name: count, dtype: int64

In [19]:
skin_irritant_counts = new_df2['SkinIrritant'].value_counts()
skin_irritant_counts

SkinIrritant
0.0    200465
1.0      3111
Name: count, dtype: int64

In [22]:
new_df2.to_csv('SynonymsFull333.csv', index=False)
new_df2

,Name,Synonym,Carcinogens,EndocrineDisruptors,Allergen,SkinIrritant
0,Saccharomyces,None,0.0,0.0,0.0,0.0
1,Leuconostoc,None,0.0,0.0,0.0,0.0
2,Apple Fruit,None,0.0,0.0,0.0,0.0
3,Carrot Root,None,0.0,0.0,0.0,0.0
4,Radish Root,None,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
203572,Lysine Carboxymethyl Cysteinate,NaN,0.0,0.0,0.0,0.0
203573,Lysine Thiazolidine Carboxylate,NaN,0.0,0.0,0.0,0.0
203574,Palmitoyl Myristyl Serinate,NaN,0.0,0.0,0.0,0.0
203575,Piperonyl Glucoside,NaN,0.0,0.0,0.0,0.0
203576,Stearyl Acetate,NaN,NaN,NaN,NaN,NaN